{% extends "base.html" %}

{% block header %}
<div class="nav-wrapper blue darken-4">
	<a href="#" class="center brand-logo"><i class="material-icons">local_airport</i> Airspace Status</a>
    <ul class="right hide-on-med-and-down">
		<li><a href="https://www.fly.faa.gov/ois/">Full FAA Info</a></li>
	</ul>
</div>
{% endblock %}

{% block body %}
<div id="appFrame">
	<div class="center">
		<h2>Loading...</h2>
	</div>
	<br />	
</div>	

<footer class="page-footer white lighten-1">
	<div class="center">
		<span class="grey-text">
			<small>Data: <a class="grey-text" href="https://github.com/Federal-Aviation-Administration/ASWS/">FAA ASWS</a> &bull; <a class="grey-text" href="https://github.com/nhfruchter/faa-ois-site">GitHub</a>
			</small>	
		</span>
	</div>
</footer>	
{% endblock %}
